img:hover#dukes {
    -webkit-transform: translate(45px,-45px); /* iOS8, Android 
    ↵4.4.3, BB10 */
    -ms-transform: translate(45px,-45px); /* IE9 only */
    transform: translate(45px,-45px);
}

img:hover#dukes2 {
    transform: scale(5.5, 5.25) translate(100px,45px);
}

img:hover#dukes3 {
    transform: rotate(100deg);
}

img:hover#dukes4 {
    transform: skew(15deg, 30deg);
}

img:hover#dukes5 {
    transform-origin: 20 80;
    /* transform-origin: 0 0; */
    transform: translateX(200px) rotate(135deg);
}

@keyframes moveRight { 
    from {
    transform: translateX(-50%);
    }
    to {
    transform: translateX(50%);
    }
}

@keyframes appearDisappear { 
    0%, 100% {
    opacity: 0;
    }
    20%, 80% {
    opacity: 1;
    }
}

@keyframes bgMove {
    100% {
    background-position: 120% 0;
    }
}

img:hover#dukes6 {
    animation-duration: 3s;
    animation-name: moveRight;
}

@keyframes bike {
    0% {
    background-position: 0 0;
    }
    100% {
    background-position: -360px 0;
    }
}
@keyframes move {
    0% {
    transform: translateX(-100px);
    }
    100% {
    transform: translateX(100px);
    }
}  
    
img:after#bike {
    content: '';
    width: 90px;
    height: 92px;
    background-image: url(../images/000067.png);
    display: block;
    margin: auto;
    animation: 
        0.4s steps(4, end) infinite 50ms bike,
        8s linear infinite 50ms move;
    animation-play-state: paused;
}
img:hover:after#bike {
    animation-play-state: running;
}

.myCanvas {
    border: dotted 2px black;
}

.spin {
    position: absolute;
    top: 8px;
    left: 55px;
}
.draganddrop .mc {
    text-align: center; 
}